{
  "parser": "babel-eslint",
  "env": {
    "jest": true,
    "browser": true,
    "es2021": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb-base",
    "plugin:ramda/recommended",
    "plugin:prettier/recommended",
    "plugin:sonarjs/recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "jest",
    "react-hooks",
    "ramda",
    "prettier",
    "sonarjs"
  ],
  "rules": {
		"max-len": "off",
    "no-console": "warn",
    "react/no-unescaped-entities": "off",
    "class-methods-use-this": "off",
    "import/prefer-default-export": "off",
		"prefer-template": "off",
		"arrow-parens": "off",
		"no-shadow": "off",
    "react/prop-types": "warn",
    "no-nested-ternary": "off",
    "no-bitwise": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "prettier/prettier": "error"
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "alias-array": {
        "map": [
          ["~", "./src"]
        ],
        "extensions": [".ts", ".js", ".jsx", ".json"]
      }
    }
  }
}