@import 'animations.scss';
@import 'variables.scss';

@import 'node_modules/@fortawesome/fontawesome-svg-core/styles'; // Import the CSS

.dark-theme {
  @import 'darkly/_variables.scss';
  @import 'bootstrap_extend.scss';
  @import 'node_modules/bootstrap/scss/bootstrap';

  // tooltip
  .input-group {
    .input-group-prepend {
      &+input.is-invalid {
        border-top-right-radius: 0.25rem !important;
        border-bottom-right-radius: 0.25rem !important;
      }
    }
  }
}

.light-theme {
  @import 'bootstrap_extend.scss';
  @import 'node_modules/bootstrap/scss/bootstrap';

  // tooltip
  .input-group {
    .input-group-prepend {
      &+input.is-invalid {
        border-top-right-radius: 0.25rem !important;
        border-bottom-right-radius: 0.25rem !important;
      }
    }
  }
}
