@import 'animations.scss';
@import 'variables.scss';

@import 'node_modules/@fortawesome/fontawesome-svg-core/styles'; // Import the CSS

.dark-theme {
  @import 'darkly/_variables.scss';
  @import 'bootstrap_extend.scss';
  @import 'node_modules/bootstrap/scss/bootstrap';

  .invalid-tooltip {
    position: relative;
    top: 0px;
  }
  select.form-control.is-invalid {
    background-position: right 1rem center;
  }
}

.light-theme {
  @import 'bootstrap_extend.scss';
  @import 'node_modules/bootstrap/scss/bootstrap';

  .invalid-tooltip {
    position: relative;
    top: 0px;
  }
  select.form-control.is-invalid {
    background-position: right 1rem center;
  }
}
