@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

.dropdown-search-select {
  .clear-icon {
    color: $close-color !important;
    opacity: 0.5;
    cursor: pointer;

    &:hover {
      opacity: 1.0;
    }
  }

  .drowdown-menu-container {
    max-height: 300px;
    overflow: auto;
  }

  .custom-select {
    position: relative;
  }
}
